<div class="blogPostForm" *ngIf="updateBlogPostForm">

  <h2>Update a blog post</h2>

  <form [formGroup]="updateBlogPostForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <input placeholder="Title" matInput id="title" type="text" formControlName="title">
      <mat-error>Title required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <textarea placeholder="Hello readers..." matInput id="content" type="text" formControlName="content" rows="8"></textarea>
      <mat-error>
      <span style="color: red" *ngIf="content.invalid && content.dirty && content.errors.required">
        The content is required!
      </span>
        <span style="color: red" *ngIf="content.invalid && content.dirty && content.errors.minlength">
        The content has to be more that 50 characters!
      </span>
      </mat-error>
    </mat-form-field>

    <div class="deleteUpdateButton">
      <button mat-flat-button type="submit" color="accent" [disabled]="!updateBlogPostForm.valid">Update blog post</button>
      <button mat-flat-button color="warn" (click)="onRemove()" type="button">Delete blog post</button>
    </div>

  </form>
</div>

<!-- TODO: Maybe add loading -->
